<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbc" connectionString="Data Source=192.99.1.185;port=3306;Initial Catalog=bomj1179_3eqhq6;User Id=3eqhq6;password=vFt-MxX-bsQ-ruW;SsslMode=none;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>